.header {
    background-color:var(--black);
    max-width: 1400px;
    height: 65px;
    padding-top: 20px;
    border-bottom: 0.5px solid #777;
}

.header__box {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header__logo { 
    font-size: 24px; 
    font-weight: 400; 
margin-top: -5px; 
cursor: pointer;
transition: all 0.8s;
}
.header__logo:hover{
    color: #777;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

// .header__menu-li--active:hover {

//     border-bottom: 2px solid var(--purple);
// }

// .header__menu-li--active::before{
//     content: "";
//     display: block;
//     width: 100%;
//     height: 2px;
//     background-color:var(--purple);
//     position: absolute;
//     bottom: -2px;
//     left: 0;
// }

.header__menu-li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.8s;
}
.header__menu-li:hover{
    color: #777;
    border-bottom: 2px solid var(--purple);
}
.header__menu-li {

    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.8s;
}
.header__menu-li--active {
    border-bottom: 2px solid var(--purple);
}
// media

@media(max-width:620px) {
    .header__menu {
position: fixed;
background-color: var(--purple); 
width: 100%;
height: 100%; 
flex-direction: column; 
justify-content:start;
right: 0; 
top: -100%; 
padding: 20px 0 0 20px;
transition: all 0.8s ease-in ;
z-index: 10;

}
.active{
    top: 0;
 }
.header__menu-li--active::before {
    content: "";
    display:none;
    
}

.header__menu-li{
   margin: 0 0 10px 0;
}
.header__menu-li:hover {
    color: #95d781;
}
//burger
.menu__burger {
position: relative;
width: 30px;
    height: 20px;
    margin: 10px 0 50px 0;
}

.menu__burger span {
position: absolute;
content: "";
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all 0.5s ease 0s;
}

.menu__burger span:active {
    transform: scale(0);
}

.menu__burger::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all 0.5s ease 0s;
}

.menu__burger:active:after {
    transform: rotate(45deg);
    top: 9px;
}

.menu__burger::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: all 0.5s ease 0s;
}

.menu__burger:active:before {
    transform: rotate(-45deg);
    bottom: 9px;
}
}
@media(max-width:380px) {
.header__logo {
        font-size: 18px;
       
    }
}
