.prodMain {
    width: 100%;
    text-align: center;
    z-index: 0;

}

.prodMain__title {
    font-size: 60px;
    font-weight: 600;
    color: var(--purple);
    margin: 70px 0 40px 0;
}

.prodMain__imgBox {
    max-width: 865px;
    height: 650px;
    background-image: url('../img/project/vid.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.prodMain__text {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    margin: 40px 0 30px 0;
}

.prodMain__button {
    position: relative;
    width: 170px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    color:var(--black) ;
    border: 1px solid var(--black-border);
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s;
   
}
.prodMain__button:hover{
    box-shadow: 2px 2px 6px var(--black-border) ;
}
.prodMain__button:active{
    box-shadow: inset 2px 2px 6px var(--black-border);
}
.prodMain__button::after{
    position: absolute;
    top: 12px;
    left: 20px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../img/icon/gitHub-black.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
//media

@media(max-width:800px){
.prodMain__imgBox {
        max-width: 600px;
        height: 450px;
        
    }
}
@media(max-width:500px) {
    .prodMain__imgBox {
        max-width: 400px;
        height: 300px;

    }
        .prodMain__text {
            font-size: 20px;
        margin: 20px 0 20px 0;
        }
                .prodMain__title {
                    font-size: 40px;
                    margin: 50px 0 30px 0;
                }
}