*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.main__skill {
    width: 100%;
}

.main__skill-box {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
}

.main__skill-name {
    margin: 70px 0 40px;
    font-size: 60px;
    font-weight: 600;
    color: var(--purple);
}

.main__skill-title {
    font-size: 40px;
    font-weight: 600;
    color: var(--black);
}

.main__skill-text{
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    margin: 15px 0 40px;
    z-index: 100;
}

.main__skill-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.main__skill-button {
    width: 280px;
    height: 60px;
    border: 2px solid var(--purple);
    border-radius:0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.8s ease 0s;
    cursor: pointer;
}

.main__skill-button:hover{
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.main__skill-button:hover .main__skill-waves{
  top: -50px;
}

.main__skill-text2 {
    font-size: 20px;
text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: var(--white);
}

.main__skill-waves {
        position: absolute;
            width: 280px;
            height: 280px;
            background-color: #4973ff;
            top: 0;
            left: 0;
            box-shadow: inset 0 0 50px rgba(31, 3, 67, 0.5);
        
            transition: all 0.8s ease 0s;
}
.main__skill-waves::after,
.main__skill-waves::before{
    content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 250%;
        height: 250%;
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}
.main__skill-waves::after{
    background-color: rgba(31, 3, 67, 0.5);
    border-radius: 44%;
    animation: waves 10s infinite linear;
}
.main__skill-waves::before{
        background-color: var(--black);
        border-radius: 48%;
        animation: waves 5s infinite linear;
}
@keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);

    }
}

@-webkit-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);

    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);

    }
}

@-moz-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);

    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);

    }
}

@-o-keyframes waves {
    0% {
        transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);

    }

    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);

    }
}